

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{common/head}"></th:block>
</head>
<body>
<th:block th:insert="~{common/header}"></th:block>
<div id="Content">
    <th:block th:insert="~{common/backlink}"></th:block>
    <div id="Catalog">
        Please confirm the information below and then press continue...
        <form th:action="@{/order/new}" th:object="${orderForm}" method="post">
            <table>
                <tr>
                    <th align="center" colspan="2"><font size="4"><b>Order</b></font>
                        <br/> <font size="3"><b> [[${order.orderDate != null ? #temporals.format(order.orderDate,'yyyy/MM/dd hh:mm:ss') : ''}]]</b></font></th>
                </tr>

                <tr>
                    <th colspan="2">Billing Address</th>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td>[[${orderForm.billToFirstName}]]<input type="hidden" th:field="*{billToFirstName}"/></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>[[${orderForm.billToLastName}]]<input type="hidden" th:field="*{billToLastName}"/></td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td>[[${orderForm.billAddress1}]]<input type="hidden" th:field="*{billAddress1}"/></td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td>[[${orderForm.billAddress2}]]<input type="hidden" th:field="*{billAddress2}"/></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>[[${orderForm.billCity}]]<input type="hidden" th:field="*{billCity}"/></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td>[[${orderForm.billState}]]<input type="hidden" th:field="*{billState}"/></td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td>[[${orderForm.billZip}]]<input type="hidden" th:field="*{billZip}"/></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>[[${orderForm.billCountry}]]<input type="hidden" th:field="*{billCountry}"/></td>
                </tr>
                <tr>
                    <th colspan="2">Shipping Address</th>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td>[[${orderForm.shipToFirstName}]]<input type="hidden" th:field="*{shipToFirstName}"/></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>[[${orderForm.shipToLastName}]]
                        <input type="hidden" th:field="*{shipToLastName}"/>
                    </td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td>[[${orderForm.shipAddress1}]]<input type="hidden" th:field="*{shipAddress1}"/></td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td>[[${orderForm.shipAddress2}]]<input type="hidden" th:field="*{shipAddress2}"/></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>[[${orderForm.shipCity}]]<input type="hidden" th:field="*{shipCity}"/></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td>[[${orderForm.shipState}]]<input type="hidden" th:field="*{shipState}"/></td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td>[[${orderForm.shipZip}]]<input type="hidden" th:field="*{shipZip}"/></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>[[${orderForm.shipCountry}]]<input type="hidden" th:field="*{shipCountry}"/></td>
                </tr>

            </table>
            <input type="hidden" th:field="*{cardType}"/>
            <input type="hidden" th:field="*{creditCard}"/>
            <input type="hidden" th:field="*{expiryDate}"/>
            <input type="hidden" name="confirmed" value="true"/>
            <div class="order-confirm-section">
                <input type="submit" class="order-confirm-btn" value="Confirm and Place Order">
            </div>
        </form>
    </div>
</div>
<th:block th:insert="~{common/footer}"></th:block>
</body>