

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{common/head}"></th:block>
</head>
<body>
<th:block th:insert="~{common/header}"></th:block>
<div id="Content">
    <div id="Catalog">
        <form th:action="@{/order/new}" th:object="${orderForm}" method="post">

            <table>
                <tr>
                    <th colspan=2>Payment Details</th>
                </tr>
                <tr>
                    <td><label for="cardType">Card Type:</label></td>
                    <td>
                        <select th:field="*{cardType}"><option th:each="item : ${creditCardTypes}" th:with="isMap=${creditCardTypes instanceof T(java.util.Map)}" th:value="${isMap ? item.key : item}" th:text="${isMap ? item.value : item}"></option></select>
                        <span id="cardType.errors" th:errors="*{cardType}"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="creditCard">Card Number:</label></td>
                    <td>
                        <input type="text" th:field="*{creditCard}"/>
                        <span style="color: var(--text-secondary); font-size: 0.875rem;">* Use a fake number!</span>
                        <span id="creditCard.errors" th:errors="*{creditCard}"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="expiryDate">Expiry Date (MM/YYYY):</label></td>
                    <td>
                        <input type="text" th:field="*{expiryDate}" placeholder="MM/YYYY"/>
                        <span id="expiryDate.errors" th:errors="*{expiryDate}"></span>
                    </td>
                </tr>
                <tr>
                    <th colspan=2>Billing Address</th>
                </tr>

                <tr>
                    <td><label for="billToFirstName">First name:</label></td>
                    <td>
                        <input type="text" th:field="*{billToFirstName}"/>
                        <span id="billToFirstName.errors" th:errors="*{billToFirstName}"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="billToLastName">Last name:</label></td>
                    <td>
                        <input type="text" th:field="*{billToLastName}"/>
                        <span id="billToLastName.errors" th:errors="*{billToLastName}"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="billAddress1">Address 1:</label></td>
                    <td>
                        <input type="text" th:field="*{billAddress1}" size="40"/>
                        <span id="billAddress1.errors" th:errors="*{billAddress1}"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="billAddress2">Address 2:</label></td>
                    <td>
                        <input type="text" th:field="*{billAddress2}" size="40"/>
                        <span id="billAddress2.errors" th:errors="*{billAddress2}"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="billCity">City:</label></td>
                    <td>
                        <input type="text" th:field="*{billCity}"/>
                        <span id="billCity.errors" th:errors="*{billCity}"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="billState">State:</label></td>
                    <td>
                        <input type="text" th:field="*{billState}" size="4"/>
                        <span id="billState.errors" th:errors="*{billState}"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="billZip">Zip:</label></td>
                    <td>
                        <input type="text" th:field="*{billZip}" size="10"/>
                        <span id="billZip.errors" th:errors="*{billZip}"></span>
                    </td>
                </tr>
                <tr>
                    <td><label for="billCountry">Country:</label></td>
                    <td>
                        <input type="text" th:field="*{billCountry}" size="15"/>
                        <span id="billCountry.errors" th:errors="*{billCountry}"></span>
                    </td>
                </tr>

                <tr>
                    <td colspan=2>
                        <input type="checkbox" id="shippingAddressRequired" name="shippingAddressRequired" value="true" th:checked="*{shippingAddressRequired}"/>
<input type="hidden" name="_shippingAddressRequired" value="on"/>
                        <label for="shippingAddressRequired">Ship to different address...</label>
                    </td>
                </tr>

            </table>
            <input type="hidden" th:field="*{shipToFirstName}"/>
            <input type="hidden" th:field="*{shipToLastName}"/>
            <input type="hidden" th:field="*{shipAddress1}"/>
            <input type="hidden" th:field="*{shipAddress2}"/>
            <input type="hidden" th:field="*{shipCity}"/>
            <input type="hidden" th:field="*{shipState}"/>
            <input type="hidden" th:field="*{shipZip}"/>
            <input type="hidden" th:field="*{shipCountry}"/>
            <input type="submit" name="newOrder" value="Continue"/>

        </form>
    </div>

</div>
<th:block th:insert="~{common/footer}"></th:block>
</body>